@import "tailwindcss";
@import "../components/lottery-dapp.css";

/* Disable DaisyUI default themes */
@plugin "daisyui" {
  themes: false;
}

/* Custom Light Theme */
@plugin "daisyui/theme" {
  name: "light";

  --p: #93bbfb;
  --pc: #212638;

  --s: #dae8ff;
  --sc: #212638;

  --a: #93bbfb;
  --ac: #212638;

  --n: #212638;
  --nc: #ffffff;

  --b1: #ffffff;
  --b2: #f4f8ff;
  --b3: #dae8ff;
  --bc: #212638;

  --in: #93bbfb;
  --su: #34eeb6;
  --wa: #ffcf72;
  --er: #ff8863;

  --rounded-box: 1rem;
  --rounded-btn: 9999rem;
  --rounded-badge: 9999rem;
}

/* Custom Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --p: #212638;
  --pc: #f9fbff;

  --s: #323f61;
  --sc: #f9fbff;

  --a: #4969a6;
  --ac: #f9fbff;

  --n: #f9fbff;
  --nc: #385183;

  --b1: #385183;
  --b2: #2a3655;
  --b3: #212638;
  --bc: #f9fbff;

  --in: #385183;
  --su: #34eeb6;
  --wa: #ffcf72;
  --er: #ff8863;

  --rounded-box: 1rem;
  --rounded-btn: 9999rem;
  --rounded-badge: 9999rem;
}

/* Tailwind v4 compatibility */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  p {
    margin: 1rem 0;
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

/* Background sync */
:root,
[data-theme] {
  background: black;
}

/* Buttons */
.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

/* Links */
.link {
  text-underline-offset: 2px;
}

.link:hover {
  opacity: 80%;
}